<br>
<div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5 px-5 ">
            <mat-card class="py-5 login-wrap mx-5 mx-sm-3">
                <mat-card-title class=" text-center mb-5 mt-3">Error 404 not found</mat-card-title>
                <mat-card-title class=" text-center mb-5 mt-3">صفحه مورد نظر یافت نشد</mat-card-title>
                <div class="my-4 text-center">
                    <button matTooltip="برگشت به صفحه ی اصلی" routerLink="/home"
                        class="button news-button">برگشت</button>
                </div>
            </mat-card>
        </div>
    </div>
</div>