div, p, button{
    font-family: IRANSans;
}

button{
    border: none;
    outline: none;
    margin: 10px;
    height: 30px;
    width: 70px;
    background-color: #3f51b5;
    color: white;
    border-radius: 5px;
}